

.table-container {
  max-height: 400px; /* Set a maximum height for the container */
  overflow-y: auto; /* Enable vertical scrolling */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px; /* Slightly rounded corners */
  margin-top: 20px; /* Space above the table */
  background-color: white; /* White background for the table */
  height: 350px;
}

.user-table {
  width: 100%; /* Make the table take the full width */
  border-collapse: collapse; /* Collapse borders for a cleaner look */
  font-family: 'Arial', sans-serif; /* Formal font style */
}

.user-table th, .user-table td {
  padding: 12px 15px; /* Increased padding for better spacing */
  text-align: left; /* Align text to the left */
  border-bottom: 1px solid #ddd; /* Add a bottom border to each row */
}

.user-table th {
  background-color: #1FA5FF;; /* Blue background for the header */
  color: white; /* White text color for the header */
  font-weight: bold; /* Bold text for header */
}

.user-table tr:nth-child(even) {
  background-color: #f2f2f2; /* Light gray for even rows */
}

.user-table tr:hover {
  background-color: #e9ecef; /* Slightly darker gray on hover */
  cursor: pointer; /* Change cursor on hover */
}


/* UsersList.css */
.container-section {
  margin-top: 60px;
}

.container-section  h3 {
  color: #333; /* Darker color for the header */
  font-family: 'Arial', sans-serif; /* Formal font style */
  margin: 0 0 15px 15px; /* Space below the header */
}

.dashboard-container {
    display: flex;
    gap:22px;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #F3F3F3;;
  }
  .DashboardHead{
    display: flex;
    justify-content: space-between;
    
    margin-top: 0px;
  }

  /* Main Content */
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  header h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    align-self: flex-start;
  }
  
  
  .user-count-card-cont{
    border-radius: 16px;
    padding: 8px 10px;
    background-color: #1FA5FF; 
    display: flex;
align-items: center;
    gap:12;
  }

  .user-count-card {
    color: white;
    border-radius: 10px;
    text-align: center;
  }
  .user-count-card h3 {
    font-size: 1rem;
  }
  
  .user-count-card p {
    font-size: 0.8rem;
  }
  