  /* Sidebar */
  .sidebar {
    width: 230px;
    background-color: #ffffff;
    background:url('../../assets/garmentImg/bgsidebar.jpg');
    background-size: cover;
    background-position: center;
    padding:40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    gap:16px;
    padding-bottom: 15px;
    width: 85%;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(210, 210, 210);
  }
  
  .user-icon {
    font-size: 1.8rem;
    align-self: flex-start;
  }
  
  .user-details h3 {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #cecece;;
  }
  
  .user-details p {
    font-size: 0.7rem;
    font-weight: 600;
    color: rgb(166, 166, 166);
  }
  
  .menu {
    width: 95%;
    background-color: transparent;
    padding: 8px 6px;
    display: flex;
    flex-direction: column;
    gap:12px;
  }
  .sideIcons{
    width: 23px;
    height: 23px;
    color: rgb(172, 172, 172);
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 0.9rem;
    color: #cecece;
    cursor: pointer;
    margin: 5px 0;
    gap:8px;
    transition: background-color 0.3s;
  }
  
  .menu-item:hover {
    background-color: #65c1fe88;
    color: black;
    border-radius: 13px;
  }
  .menu-item a{
    text-decoration: none;
    color: #cecece;
  }
  .logout-btn {
    margin-top: auto;
    background: none;
    border: none;
    color: #cecece;
    font-size: 0.9rem;
    cursor: pointer;
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap:8px
  }
  