

    .signup-log2 form{
        background-color: rgb(71, 75, 106);
        width: 34%;
       
        border-radius: 8px;
        font-size: 1.1rem;
      }
      .reset-div  input , .inp-btn input {
        font-size: 1.2rem;
        padding: 6px 12px;
      }
      .reset-div  button , .inp-btn button {
        font-size: 1rem;
        padding: 6px 12px;
        height: 38px;
        width:189px;
        cursor:pointer;
      }
      .forogtpass{
        display: flex;
        justify-content: flex-start;
        font-size: 1.4rem;
        margin-left: 7px;
       
      }
      .forogtpass a{
        color:rgb(167, 166, 166)
      }
      .signuploginform-head{
        align-self: flex-start;
        margin-bottom: 25px;
        color: rgb(186, 185, 185);
        display: flex;
        align-items: center;
        width: 100%;
        border-radius: 8px;
        gap:7px;
        background-color: rgb(61, 65, 91);
        height: 42px;
      }
      .signuploginform-head p:first-child{
        margin-left: 50px;
      
    }

.navto-login{
  background-color: blue;
  padding: 4px 8px;
  border-radius: 12px;
  color: white;
}